* {
	font-family: Verdana, sans-serif;
    top: 0;
    left: 0;
}

body {
    width: 1000px;
    margin: 30px auto 50px auto;
}

table {
	width: 100%;
}

th, td {
	text-align: left;
}

input.create{
    margin-left: 5vw;
}

label.create{
    margin-top: 10px;
    display: inline-block;
    min-width: 15vw;
}