* {
	font-family: 'Open Sans', sans-serif;
    top: 0;
    left: 0;
    margin: 0 0 0 0;
}

body{
    background-color: rgba(26, 188, 156,1.0);
    color: white;
}

.container{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
select.selectFilter{
	margin-top:2%;
	margin-right:10px;
}

table{
	width: 100%;
  margin-left: 0%;

}

th, td {
	text-align: left;
}


input.create{
    margin-left: 5vw;
}

label.create{
    margin-top: 10px;
    display: inline-block;
    min-width: 15vw;
}

li.header-li{
    display: inline;
    padding-right: 20px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

div.navbar{
    height: 5vh;
    background-color: rgba(22, 160, 133,1.0);
    padding-top: 0.5%;

}

img.logoimg {
  border-radius: 5px;
  border: 2px solid #E2E4E6;
  width: 36px;
  height: 36px;
  float: left;
}

select.selectFilter{
    width: 10%;
}

table.tableList{
    background-color: rgba(22, 160, 133,0.8);
    margin-top: 5vh;
    border-radius: 5px;
    border: 5px solid #E2E4E6;
    padding: 10px;
}
